*, ::after, ::before{
  box-sizing:content-box;
}

:root{
  --cor-verde: #d8d51c;
  --cor-azul: #043c5c;
  --cor-azul-claro: #2e749c;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  .App-header {
    background-color: var(--cor-azul);
    padding: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .App-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* BARRA DE PESQUISA */
  .search-bar {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px;
    border: none;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff;
    transition: background-color 0.3s ease-in-out;
  }
  
  .search-bar input:focus {
    outline: none;
    background-color: #ffffff;
  }
  
  .search-icon {
    font-size: 1.2rem;
    margin-right: 10px;
    color: #6cc24a;
  }

  /* ABAS DE CATEGORIAS */

  .abas {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid black;

  }
  
  .botao-abas {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #837373;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .botao-abas.ativo {
    background-color: #4caf50;
    color: white;
  }
  
  /* AMOSTRA DE PRATOS */
  .product-list {
    flex: 2;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    padding-bottom: 5%;
    border-bottom: 2px solid var(--cor-verde);
  }
  
  .prato {
    background-color: rgb(255, 245, 245);
    border: 1px solid var(--cor-azul);
    border-radius: 20px;
    padding: 10px 20px;
    padding-bottom: 0px;
    text-align: center;
    width: 17%;
    height: 350px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }
  
  .prato:hover {
    transform: translateY(-5px) scale(1.03);
  }

  .prato-wrapper{
    margin: -10px -20px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 50%;
  }
  
  .prato-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .prato-wrapper:hover img {
    transform: scale(1.1);
    z-index: 1;
  }
  
  .prato h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #323754;
  }
  
  .prato p {
    font-size: 1.1rem;
    color: #777;
    margin: 5px 0;
  }
  
  /* Checkout de Carrinho */
  .cart {
    flex: 1;
    width: 400px;
    background-color: #fff9e6;
    border: 2px solid #193d10;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    display: none;
    position: fixed;
    right: 40px;
    bottom: 40px;
  }
  
  .cart.active {
    display: block;
  }
  
  .cart h2 {
    font-size: 1.8rem;
    color: #323754;
    margin-top: 0;
    text-align: center;
  }
  
  .cart ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .cart-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .cart-item .item-image img {
    max-width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 10px;
  }
  
  .cart-item .item-details {
    flex: 1;
    display: inline;
  }
  
  .cart-item h3 {
    display: inline;
    font-size: 1.4rem;
    margin: 0;
    color: #323754;
  }
  
  .cart-item p {
    font-size: 1.1rem;
    color: #777;
    margin: 5px 0;
  }
  
  .cart-item .item-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .cart-item .item-actions button {
    background-color: #6cc24a;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1rem;
  
  }
  
  .cart-item .item-actions button:hover {
    background-color: #449e30;
  }
  
  .cart-item .quantity {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    font-size: 1rem;
    color: #323754;
  }
  
  .cart .total {
    font-size: 1.4rem;
    margin: 20px 0;
    text-align: right;
    color: #323754;
  }
  
  .checkout-message {
    font-size: 1.4rem;
    margin-top: 30px;
    color: #6cc24a;
    text-align: center;
  }
  
  .no-results,
  .empty-cart {
    text-align: center;
    font-size: 1.4rem;
    color: #777;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .App-main {
        flex-direction: column;
        align-items: center;
    }
  
    .product-list {
        width: 100%;
        margin-bottom: 5px;
    }
  
    .prato {
        width: 50%;
    }
  
    .cart {
        min-width: unset;
        margin-top: 30px;
    }
  }
  
  .add-to-cart-button {
    background-color: var(--cor-azul);
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    margin-top: auto;
    bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1rem;
  }
  
  .add-to-cart-button:hover {
    background-color: var(--cor-azul-claro);
  }
  
  .item-info {
    display: flex;
    flex-direction: row;
  }
  
  .item-details {
    margin-top: 4%;
  }
  
  .item-actions .quantity p {
    margin: 10% 10%;
  }
  

  
  
  
  
  
  /* SCROLL do carrinho */
  .cart-items-container {
    overflow-y: auto; 
    overflow-x: hidden; 
    margin-bottom: 1rem;
    flex-grow: 1; 
    max-height: 300px; 
  }
  
  .cart-items-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Ensure it doesn't exceed the container width */
  }
  
  .cart-item {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box; /* Prevent content overflow */
  }
  
  .cart {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .cart.active {
    background-color: #f9f9f9;
  }
  
  /* CARRINHO BOTÃO */
  .cart-wrapper {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
  }
  
  .carrinho-botao-abrir {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 5px; 
    transition: background-color 0.2s ease-in-out;
    padding: 0;
    line-height: none;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carrinho-botao-abrir:hover {
    background-color: #0056b3;
  }
  
  .cart {
    position: fixed;
    bottom: 90px; 
    right: 20px;
    width: 300px;
    height: auto; 
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  
  .checkout-section {
    border-top: 1px solid #ddd; /* Add a separator */
    padding-top: 10px;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .checkout-total {
    font-weight: 700;
  }

  .checkout-button {
    background-color: #6cc24a;
    border: none;
    color: white;
    border-radius: 20px;
    width: 70%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1.2rem;
  }
  
  .checkout-button:hover {
    background-color: #449e30;
  }
  
  .checkout-button:disabled {
    background-color: #cccccc; /* botao fica escuro desabilitado */
    cursor: not-allowed;
  }
  
  